<article class="incident-adopt-action">
  <h1>Otključajte informaciju o <%= @incident.incident_number %> slanjem <em>zahtjeva za pristup informacijama</em>, u samo nekoliko klikova mišem.</h1>

  <p>
    <%= link_to_right_to_know_form(@incident) %>
  </p>

  <p class="supporting">Pokreće <a href="http://imamopravoznati.org/" title="Imamo pravo znati: Bilo koja domaća ili strana fizička ili pravna osoba ima pravo pristupu informacijama sukladno načelu slobodnog pristupa. Informacija koju pruža tijelo javne vlasti mora biti pravovremena, potpuna i točna.">Imamo pravo znati</a></p>
</article>
