<li><%= link_to "Informacije", :incidents, :title => "Istražite podatke, dokumente i radove javnog sektora" %></li>

<li><%= link_to "#{@incident.incident_number}", @incident %></li>

<% if current_page?(incident_adopt_path(@incident)) %>
<li><%= link_to "Preuzmi", incident_adopt_path(@incident) %></li>
<% end %>
