<% if !@incident.foi_requests.empty? %>
  <p class="notice <%= foi_request_state_class(@incident) %>">
  <%= link_to_right_to_know(@incident) %>
  </p>
<% end %>
<% if @incident.detailed_report.path %>
  <p class="notice incident-report-download">
  <%= link_to "Pogledaj dokumentaciju", @incident.detailed_report.url, class: "incident-report-download-link", title: "Detaljna dokumentacija o ovoj informaicji" %>
  </p>
<% end %>
