<ul class="contact-nav">
  <li><a class="facebook" href="http://facebook.com/KodirajZaHrvatsku/" title="Code for Croatia on Facebook" rel="me">Facebook</a></li>
  <li><a class="twitter" href="https://twitter.com/CodeForCroatia/" title="Code for Croatia on Twitter" rel="me">@codeforcroatia</a></li>
  <li><a class="github" href="https://github.com/CodeForCroatia/" title="Code for Croatia on Github" rel="me">GitHub</a></li>
  <li><a class="email" href="/about/#contact" title="Contact Code for Croatia.">Contact</a></li>
</ul>