<a class="banner h-card" href="<%= root_url %>" rel="home">
    <span class="logo p-name">PSI istraživanja</span>
    <p class="tagline">Uvid u podatke, dokumente i istraživanja javnog sektora</p>
</a>
