<ul class="primary-nav">
  <li><%= link_to "Podaci", :incidents %></li>
  <li><%= link_to "Kampanje", :investigations %></li>
  <li><%= link_to "Projekt", :about %></li>
  <li><%= link_to "Sudjelovanje", :contribute %></li>
</ul>
