<ul class="secondary-nav">
    <li><%= link_to "Rječnik", :glossary %></li>
    <li><%= link_to "Kako tražiti informacije", :investigations_recipe %></li>
    <li><%= link_to "Principi", :principles %></li>
    <!-- <li><%# link_to "Copyright: CC BY", :copyright %></li> -->
</ul>
