<header class="site-header" id="top" role="banner">
    <a class="skip-link" href="#main">Preskoči na glavni sadržaj</a>

    <%= render 'layouts/logo' %>

    <a class="btn btn-menu" href="#navigation" title="To website navigation.">Izbornik</a>

    <%= render 'layouts/primary-nav' %>
</header>
